# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore test folder
C:\Users\Home\Desktop\WebCV\First TEST\*

# Dependency directories (remove the comment below to include it)
# vendor/
