<!DOCTYPE html>
<html lang="en">
{{template "header" .}}  <!--The dot is to parse the page title-->
<body>
    <div id="certificates">
        <div class="row1">
            <header id="header" class="hoc clear">
                <div id="logo" class="flex_left zoom">
                    <h1><a href="index.html">Hercules Tchkoidze</a></h1>
                </div>
                {{template "navBar" .}} <!--The dot is to parse the page title-->
            </header>
            <div class="container">
                <table class="table table-dark">
                <thead>
                  <tr>
                    <th scope="col">Certified In</th>
                    <th scope="col">Certified By</th>
                    <th scope="col">Certificate Doc</th>
                    <th scope="col">Download URL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">Learn Go</th>
                    <td>CodeCademy</td>
                    <td><a data-lightbox="codecademy"
                        href="/assets/images/codecademy.png" style="color:orangered;">View</a></td>
                    <td><a href="/assets/images/codecademy.png" style="color:orangered;" download>Download</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Learn How To Code: Google's Go [Loading...]</th>
                    <td>Udemy</td>
                    <td>Loading...</td>
                    <td>Loading...</td>
                  </tr>
                  <tr>
                    <th scope="row">Web Development w/ Google’s Go [Loading...]</th>
                    <td>Udemy</td>
                    <td><a data-lightbox="codecademy"
                        href="/assets/images/Go_WebDev.png" style="color:orangered;">View</a></td>
                    <td><a href="/assets/images/Go_WebDev.png" style="color:orangered;" download>Download</a></td>
                  </tr>
                  <tr>
                    <th scope="row">Google Project Management  [Loading...]</th>
                    <td>Coursera</td>
                    <td><a data-lightbox="codecademy"
                        href="/assets/images/foundation_of_pm.png" style="color:orangered;">View</a></td>
                    <td><a href="/assets/images/foundation_of_pm.png" style="color:orangered;" download>Download</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
{{template "footer"}}
            
    {{template "backToTop"}}
    <!-- JAVASCRIPTS -->
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/jquery.backtotop.js"></script>
    <script src="/assets//node_modules/lightbox2/dist/js/lightbox.js"></script>

</body>
</html>