<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkillSet</title>
    <link rel="stylesheet" href="/assets/styles/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Social Icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!--################################# Top Background #################################-->
    <div class="skillsetBackgound">
        <div class="row1">
            <header id="header" class="hoc clear">
                <div id="logo" class="flex_left zoom">
                    <h1><a href="/">Hercules Tchkoidze</a></h1>
                </div>
                {{template "navBar"}}
            </header>

            <div class="s_card">
                <div class="box">
                    <span></span>
                    <div class="content">
                        <h2>GoLang</h2>
                        <p>If i had to rank my skills in GoLang, i'd be at a juniors level.</p>
                        <p>I have recently started learning GoLang, currently studying a large course on Udemy covering
                            everything about Go.</p>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <h2>PHP</h2>
                        <p>If i had to rank my skills in PHP, i'd be at a junior towards intermediate level.</p>
                        <p>I have work experience in PHP mostly through CMS backend engineering.</p>
                    </div>
                </div>
                <div class="box">
                    <span></span>
                    <div class="content">
                        <h2>Drupal8</h2>
                        <p>If i had to rank my skills using Drupal 8+, i'd be at an intermediate+ level.</p>
                        <p>Through one year of working experience i have aquired a huge amount of knowledge in drupal 8,
                            from content management, to nested views and API handling.</p>
                    </div>
                </div>
            </div>
            <!--################################# small tables #################################-->

            <div id="small">
                <div class="s_card">
                    <div class="sm_card">
                        <div class="box">
                            <span></span>
                            <div class="content">
                                <h2>MySQL</h2>
                                <p>Development & deployment of production relational databases, experience in custom
                                    queries.</p>
                            </div>
                        </div>
                        <div class="box">
                            <span></span>
                            <div class="content">
                                <h2>Wordpress</h2>
                                <p>Custom API development & consumption, reverse engineering plugins.</p>
                            </div>
                        </div>

                        <div class="box">
                            <span></span>
                            <div class="content">
                                <h2>HTML/CSS</h2>
                                <p>Website development and design.</p>
                            </div>
                        </div>
                        <div class="box">
                            <span></span>
                            <div class="content">
                                <h2>Java</h2>
                                <p>Mostly used for mobile application development.</p>
                            </div>
                        </div>
                        <div class="box">
                            <span></span>
                            <div class="content">
                                <h2>JavaScript</h2>
                                <p>Used in various projects mostly on low level.</p>
                            </div>
                        </div>
                        <div class="box">
                            <span></span>
                            <div class="content">
                                <h2>Photoshop</h2>
                                <p>Mostly for personal use and for simple web designs. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {{template "footer"}}
    <!--################################# / small tables #################################-->
    <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/jquery.backtotop.js"></script>
</body>
</html>