<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Work Experience</title>
  <link rel="stylesheet" href="/assets/styles/style.css">
  <link rel="stylesheet" href="/assets/styles/work.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Social Icons  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="workExperience">
    <div class="row1">
      <header id="header" class="hoc clear">
        <div id="logo" class="flex_left zoom">
          <h1><a href="/">Hercules Tchkoidze</a></h1>
        </div>
        {{template "navBar"}}
      </header>

      <div class="container">
        <ul class="timeline">
          <li class="timeline-event">
            <label class="timeline-event-icon"></label>
            <div class="timeline-event-copy">
              <p class="timeline-event-thumbnail">September 2019 - October 2020</p>
              <h3>Junior Consultant</h3>
              <h4>PHP Development, Cognity S.A, Athens, Greece, Greece</h4>
              <p><strong>Projects: </strong><br>(TKAL)BOSS, Telekom Albania<br>Cognity S.A, Internal Portal<br>Customer
                under NDA</p>
              <p><strong>Technologies Used</strong><br>Most of the projects used Agile Scrum framework, we were doing
                weekly sprints.
                Backend was alway using PHP, Twig, MySQL. While for front end we used mostly CSS, JS. <br>
                Drupal 8 or Wordpress was always used for the base of each project headless or not, in most cases to
                consume custom API.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
      {{template "footer"}}
          <a id="backtotop" href="#top"><i class="fas fa-chevron-up"></i></a>
    <!-- JAVASCRIPTS -->
    <script src="/assets/scripts/jquery.min.js"></script>
    <script src="/assets/scripts/jquery.backtotop.js"></script>
</body>
</html>